/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.no-shadows {
  box-shadow: none !important;
}

/* Navbar */
.title {
  margin-bottom: 0;
  background: linear-gradient(to bottom, transparent, white, transparent);
  z-index: 0;
}

/* Parallax */
img {
  width: 100%;
}
