/***| GLOBAL STYLES |***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.no-shadows {
  box-shadow: none !important;
}

/***| NAVBAR |***/
#hamburger-menu {
  font-size: 3.5rem;
}

#av-title {
  margin-bottom: 0;
  background: linear-gradient(to bottom, transparent, white, transparent);
  z-index: 0;
}

nav ul li a {
  font-size: 1.2rem;
}

/***| HOME PAGE |***/
img {
  width: 100%;
}

/***| SIGN UP FORM |***/
/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}
